In [1]:
import pandas as pd

In [14]:
data = pd.read_csv("mid2 max rate.csv", header=None)

In [62]:
data.head()

,raw,vin,rate
0,"Vin #1:LMGHP1S57J1002315, the max changing rat...",LMGHP1S57J1002315,0.666667
1,"Vin #2:LMWHP1S22J1000515, the max changing rat...",LMWHP1S22J1000515,0.500000
2,"Vin #3:LMGHP1S57H1001126, the max changing rat...",LMGHP1S57H1001126,0.666667
3,"Vin #4:LMGHP1S57J1003903, the max changing rat...",LMGHP1S57J1003903,0.166667
4,"Vin #5:LMGHP1S53J1004644, the max changing rat...",LMGHP1S53J1004644,0.666667

In [16]:
data.columns=['raw']

In [17]:
data.head()

                                                 raw
0  Vin #1:LMGHP1S57J1002315, the max changing rat...
1  Vin #2:LMWHP1S22J1000515, the max changing rat...
2  Vin #3:LMGHP1S57H1001126, the max changing rat...
3  Vin #4:LMGHP1S57J1003903, the max changing rat...
4  Vin #5:LMGHP1S53J1004644, the max changing rat...

In [22]:
data[0:1]

                                                 raw
0  Vin #1:LMGHP1S57J1002315, the max changing rat...

In [51]:
def f2(row):
    rate = float(row['raw'].split("is")[1])
    return rate

In [52]:
def f(row):
    vin = row['raw'].split(",")[0].split(":")[1]
    return vin

In [55]:
data['rate'] = data.apply(f2, axis=1)

In [56]:
data['vin'] = data.apply(f, axis=1)

In [63]:
data = data.drop(data.columns[0], axis=1)

In [66]:
data.sort_values(by='rate', ascending=False)

                    vin       rate
1636  LMGHP1S51H1001395  33.333333
2244  LMGHP1S83J1002774  29.666667
2172  LMWHP1S27J1000428  10.166667
505   LMGHP1S50H1000304   8.666667
1160  LMWHP1S25J1000430   3.333333
1976  LMGHP1S81H1000015   3.333333
3362  LMGHP1S82J1002331   2.666667
2219  LMGHP1S55H1001285   2.000000
2702  LMGHP1S82H1001514   2.000000
1761  LMGHP1S54J1002563   1.833333
1739  LMGHP1S53H1001284   1.666667
2805  LMGHP1S50J1002978   1.666667
494   LMWHP1S27J1000218   1.666667
2401  LMGHP1S50J1002298   1.666667
3239  LMGHP1S54J1002448   1.666667
3211  LMGHP1S5XJ1002857   1.666667
1609  LMGHP1S52H1001230   1.666667
1418  LMGHP1S50H1000965   1.500000
2527  LMGHP1S59J1002431   1.500000
412   LMGHP1S58J1004638   1.500000
565   LMGHP1S51J1002634   1.500000
2123  LMGHP1S85J1002517   1.500000
512   LMGHP1S52H1001860   1.500000
3332  LMGHP1S51J1002455   1.500000
3375  LMGHP1S5XJ1004463   1.500000
1660  LMGHP1S50J1002026   1.500000
1420  LMGHP1S5XJ1003331   1.500000
970   LMGHP1S5XH1001086   1.500000
860   LMGHP1S50J1004469   1.500000
3575  LMGHP1S53H1000684   1.500000
...                 ...        ...
2602  LMGHP1S58J1002680   0.001294
92    LMGHP1S88J1004245   0.001059
3498  LMGHP1S53H1001849   0.000595
1375  LMGHP1S82H1S00112   0.000000
2719  LMGHP1S5XJ1003779   0.000000
1675  LMGHP1S59J1002090   0.000000
3045  LMGHP1S54J1004068   0.000000
3635  LMGHP1S52J1002741   0.000000
855   LMGHP1S52J1002318   0.000000
1863  LMGHP1S87J1002146   0.000000
90    LMGHP1S57H1001563   0.000000
3241  LMGHP1S58J1004428   0.000000
1371  LMGHP1S57J1002735   0.000000
3642  LMGHP1S58J1002386   0.000000
1575  LMGHP1S57J1004341   0.000000
78    LMGHP1S56H1000503        NaN
437   LMGHP1S59J1002848        NaN
589   LMGHP1S55H1000296        NaN
736   LMGHP1S59J1003109        NaN
1457  LMWHP1S21J1000067        NaN
1637  LMGHP1S54J1003907        NaN
1667  LMGHP1S59H1001077        NaN
2161  LMGHP1S55J1003754        NaN
2169  LMGHP1S81H1001813        NaN
2408  LMGHP1S86J1001926        NaN
2725  LMGHP1S5XJ1004480        NaN
2847  LMWHP1S8XH1S00007        NaN
3141  LMGHP1S50H1000433        NaN
3150  LMGHP1S87H1S00039        NaN
3604  LMGHP1S86H1001757        NaN

[3644 rows x 2 columns]